/* Personalisacion de BODY*/
body{
    background-color: white;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

/* Personalisacion de BOTONES */

.boton_inicio{
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: Montserrat;
    display: inline-block;
}

.boton_signup{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: Montserrat;
    border-top: 2px solid white;
    display: inline-block;
    margin-left: 54%;
    position: absolute;
}

.boton_login{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: Montserrat;
    border-top: 2px solid white;
    display: inline-block;
    margin-left: 60%;
    position: absolute;
}

.boton{
    background-color: white;
    color: #B8E366;
    text-decoration: none;
    padding: 10px;
    font-family: Montserrat;
    border-bottom: 2px solid #B8E366;
}


/* Personalisacion de SUBCATEGORIAS */
.Subcategoria{
    margin: 7%;
    padding: 2%;
    background-color: darkgray;
    border-radius: 25px;
    color: white;
}

/* Personalisacion GENERAL DE LA WEB*/

.libroslogo{
    width: 8%;
    display: inline-block;
    position: relative;
    margin: 0%;
    margin-left: 1%;
}

.titulo{
    padding: 2.5%;
    background-color: #B8E366;
    margin-bottom: 10px;
}

.footer{
    padding: 2.5%;
    background-color: #B8E366;
    margin-bottom: 0px;
    padding-bottom: 0%;
}

.prenda{
    width: 90%;
    margin-top: 1%;
}

.enviar{
    background-color: white;
    color: #B8E366;
    text-decoration: none;
    padding: 0%;
    padding-left: 0%;
    font-family: Montserrat;
    margin-left: 63.3%;
    margin-top: 1%;
}

.eleccion{
    background-color: white;
    color:black;
    text-decoration: none;
    padding: 0%;
    padding-left: 0%;
    font-family: Montserrat;
    margin-left: 48%;
    margin-top: 1%;
    display: inline-block;
}

.eleccion1{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 0%;
    padding-left: 0%;
    font-family: Montserrat;
    margin-left:1%;
    margin-top: 1%;
    display: inline-block;
}

.carru{
    width: 100%;
    padding: 0%;
}

#carouselExampleCaptions{
    width: 45%;
    margin: 0 auto;
    height: 20%;
    margin-top: 3%;
    margin-bottom: 6.3%;
}

/* Personalisacion de IMAGENES*/

.logo{
    width: 5%;
    display: inline-block;
    vertical-align: middle;  
}

img{
    width: 100%;
    border-radius: 10px;
}
.foto_producto{
    width: 20%;
    margin: 0%;
    display: inline-block;
    vertical-align: middle;
}

.foto_inicio{
    width: 30%;
    margin: 0%;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
    display: inline-block;
}

/* Personalisacion de TEXTOS*/

#redessociales{
    width: 43%;
    margin: 0%;
    display: inline-block;
    padding-left: 1%;
    vertical-align: middle;
    font-family: Montserrat;
    color: white;
}


.texto{
    width: 63%;
    margin: 0%;
    display: inline-block;
    padding-left: 1%;
    vertical-align: middle;
    font-family: Montserrat;
    color: white;
}

.texto_footer{
    width: 48%;
    margin: 0%;
    display: inline-block;
    padding-left: 1%;
    vertical-align: middle;
    font-family: Montserrat;
    color: white;
    margin-bottom: 2%;
}


h2{
    font-family: Montserrat;
    color: white;
}

h1{
    font-family: Montserrat;
    color: white ;
}


.precio{
    margin: 0%;
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    font-family: Montserrat;
    color: white;
    font-weight: 500 ;
}



/* Personalisacion de LOGIN Y SING UP */
#login{
    margin: 7%;
    padding: 2%;
    background-color: #B8E366;
    border-radius: 25px;
    margin-top: 9.8%;
    margin-bottom: 9.8%;
}

#signup{
    margin: 7%;
    padding: 2%;
    background-color: #B8E366;
    border-radius: 25px;
    margin-top: 9.8%;
    margin-bottom: 9.8%;
}

input{
    width: 20%;
    color: white;
    background-color: #B8E366;
    border: 0px solid black;
    border-bottom: 2px solid white;
}
